/* Main colors */
:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --links-text-color: #4D5AE5;
    --links-hover-color: #404BBF;
    --primary-white-color: #ffffff;
    --text-footer-color: #F4F4FD;
    --border-color: #e7e9fc;
    --links-hover-color-footer: #31D0AA;
    --time-function:cubic-bezier(0.4, 0, 0.2, 1);
}

/* Utilites */
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

h1,
h2,
h3 {
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.list {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.link {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 15px;
    /* outline: 1px solid tomato; */
}

@media screen and (min-width:428px) {
   .container {
        width:428px;
   } 
}

@media screen and (min-width:768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        width: 1158px;
    }
}

.swiper {
    width: 600px;
    height: 300px;
}

